[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
haversine = "*"
pyyaml = "*"

[dev-packages]
matplotlib = "*"
autopep8 = "*"
ipykernel = "*"
folium = "*"

[requires]
python_version = "3.8"
